<div class="page"  >

  {{ include('/themes/bit/header.html') }}

<style>
  body .post-content{max-width:80%; margin:0 auto;}
</style>

  <main class="content content">


      {% if node.label %}
       <section class="front content-front" style="background:url(/themes/bit/images/content/content/content-bg.jpg);">
          <div class="container">
            <h1 class="content__heading">{{ node.label }}</h1>
            <div class="front__wrap">
            <a class="btn__blue front__btn" href="#">Sign up for free</a>
            <a class="btn__blue--light front__btn" href="#">Log in</a></div>
          </div>
        </section>


         <div class="post-content">
            {{page.content}}
         </div>
      {% else %}


        {{page.content}}
      {% endif %}

  </main>




{{ include('/themes/bit/footer.html') }}
