<div class="page"  >

  {{ include('/themes/bit/header.html') }}





<main class="content content">

      <section class="front category-front" style="background:url(static/images/content/category/category-bg.jpg);">
          <div class="container">
            <h1 class="heading">Buy Bitcoin (BTC)<span class="new-line">with bitFlyer</span></h1>
            <p class="front__descr">Profits you get with us</p>
            <div class="front__wrap"><a class="btn__blue front__btn" href="#">Sign up for free</a><a class="btn__blue--light front__btn" href="#">Log in</a></div>
          </div>
        </section>
    {{ page.content_block }}

    {{page.catalog_block}}


    div class="post-content">
      {{ page.content }}
    div>


   {{page.footer}}
</main>



{{ include('/themes/bit/footer.html') }}
